body{
  background-color: yellow;
}
p{
  background-color: #abffbd;
  height: 100px;
  width: 100px;
}
.first-p:hover{
  background-color: #dbd199;
  transform: scaleX(2) rotate(35deg);
  transform-origin: top left;
  border-radius: 100px;

}
