body{
  background-color: yellow;
  text-align: center;
}
.box {
  background: #9b59b6;
  height: 100px;
  width: 100px;
  line-height:100px;
  text-align: center;
  color: white;
  font-size: 17px;
  border-radius: 20px;
}
/*
.animated{
  transition-property: background, border-radius, transform, transform-origin;
  transition-duration: 1s, 1s, 1s, 1s;
  transition-delay: 2s, 0.5s;
  transition-timing-function: easeInOutBack;
}

.box:hover {
  background: #e74c3c;
  transform-origin: top left;
  transform:scale(2) rotate(45deg);
  border-radius: 50px;
}
*/

.animated{
  transition-property: transform;
  transition-duration: 2s;
  transition-delay: 2s;
  transition-timing-function: steps(6, end);;
}
.box:hover{
  transform: translateX(300px);
}
