body{
  background-color: yellow;
}
p{
  background-color: #abffbd;
  height: 100px;
  width: 100px;
}
.first-p:hover{
  background-color: #dbd199;
  transform: scaleX(2) rotate(35deg);
  transform-origin: top left;
  border-radius: 100px;

}
.second-p:hover{
  background-color: #dbd199;
  transform: scale(2,5) rotate(75deg);
  transform-origin: top right;
  border-radius: 20px;
}
.third-p:hover{
  cursor: pointer;
  transform: scale(2) rotate(45deg);
  transform-origin: top left;
}
