/****
CONTAINER PROPERTIES
- flex-direction -- row or column
- justify-content
- felx-wrap -- ex. wrap
- align-items
- align-content


FLEX ITEM PROPERTIES
- order -- sets the order of the items.
- FLEX
- flex-grow -- grow the item
- flex-shrink --shrinks the item in container
- flex-basis -- similar to width and heigh
- algin-self
******/

/* APPEARANCE STYLES*/
@import url("https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900");


.box {
  font-size: 50px;
  color: white;
  padding: 10px;
  text-align:center;
  font-family: lato;
  font-weight: 300;
  flex-basis: 250px;
  box-sizing: border-box;
  flex-grow: 1;
  flex-shrink: 0;
}
.box-1 {
  background: #e51400;
  order:7;
}
.box-2 {
  background: #fa6800;
  order: 1;
}
.box-3 {
  background: #f0a30a;
  order: 3;
  flex-shrink: 1;
}
.box-4 {
  background: #e3c800;
  order: 3;
  flex-shrink: 1;
}
.box-5 {
  background: #a4c400;
}
.box-6 {
  background: #60a917;
}
.box-7 {
  background: #00aba9;

}
.box-8 {
  background: #1ba1e2;
}
.box-9 {
  background: #aa00ff;
  order: -2;
}

/*  LAYOUT STYLES */
/*
.container {
  display: flex;
  border: 20px solid black;
  height: 800px;
  flex-direction: column;
  align-items: flex-start;
  align-content: space-around;
  justify-content: center;
  flex-wrap: wrap;
}

.container{
  display: flex;
  border: 20px solid black;
  height: 100vh;
  flex-wrap: wrap;
  align-content: center;

}
.container{
  display: flex;
  border: 20px solid black;
  flex-direction: column;
  align-items: center;
}
*/
.container{
  display: flex;
  border: 20px solid black;
  flex-direction: row;

}
